@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: #eee;
    }
    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}
.bg-lightgray
{
    background-color:LightGray;
}
.login-box{
    margin:6% auto 0;
    width:300px;
    display: block;
    background-color: #fff;
    -moz-box-shadow: 0 2px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.2);
    -o-box-shadow: 0 2px 1px rgba(0,0,0,0.2);
    -ms-box-shadow: 0 2px 1px rgba(0,0,0,0.2);
    box-shadow: 0 2px 1px rgba(0,0,0,0.2);
}
.login-box .panel-heading span{
    color:#aaa;
    font-size:14px
}
.button_header{
    margin-top: 12px;
}
.pagination>li>a, .pagination>li>span { border-radius: 50% !important;margin: 0 5px;}

.panel > .list-group
{
    margin-bottom: 0;
}
.panel > .list-group .list-group-item
{
    border-width: 1px 0;
}
.panel > .list-group .list-group-item:first-child
{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.panel > .list-group .list-group-item:last-child
{
    border-bottom: 0;
}
.panel-heading + .list-group .list-group-item:first-child
{
    border-top-width: 0;
}
.panel-default .list-group-item.active
{
    color: #000;
    background-color: #DDD;
    border-color: #DDD;
}

.panel-success .list-group-item.active
{
    color: #3C763D;
    background-color: #DFF0D8;
    border-color: #D6E9C6;
}
.panel-info .list-group-item.active
{
    color: #31708F;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
}

.panel a.list-group-item.active:hover, a.list-group-item.active:focus
{
    color: #000;
    background-color: #DDD;
    border-color: #DDD;
}

.clear {
    clear:both;
}

.more.label {
    float:right;
}


